body {
    font-family: "Hero", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    background-color: #1f2937;
    justify-content: space-evenly;
    margin: 0;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: row;
    color: #f9faf8;
    font-size: 24px;
    background-color: #1f2937;
}

.description h1 {
    font-size: 48px;
    font-weight: 800;
}

.random ul{
    display: flex;
    flex-direction: row;
    /* list-style: none; */
}

.middle {

}

.image {

}

.testimonial {

}

.sign-up {

}

.action {

}

.footer {

}